MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
JWT_SECRET="change-me-in-prod-7d3a8b9c2e1f4a5b6c7d8e9f0a1b2c3d"
JWT_ALG="HS256"
JWT_EXPIRES_HOURS="24"
EMERGENT_LLM_KEY="sk-emergent-b334d9d30Ca8dA6C42"
GOOGLE_API_KEY="AIzaSyDxzjs316A2LPmjVun8zexHx5snixw7NqA"
GEMINI_MODEL="gemini-2.5-flash"
USE_LLM="true"